#contenedor{
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
  background-color: #02010a;
}

#contenido{
  width: 900px;
  margin: 0 auto;
}

#encabezado{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
}

#encabezado h1{
  text-align: left;
  color: white;
  text-shadow: 2px 2px #02010a;
}

nav {
  text-align: right;
}

a:link{
  text-decoration: none;
}

#central{
  background-color: #82c3a6;
  text-align: center;
}

#secundaria{
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
}

.image{
  width: 100%;
  border: 1px solid black;
}

#ipai{
  transition-duration: 0.5s;
}
#ipai:hover{
  transform: translate(20px,-5px);
  box-shadow:4px 4px #82c3a6;
  border: 2px solid black;
}

#iret{
  transition-duration: 0.5s;
}
#iret:hover{
  transform: rotate(10deg);
  box-shadow:4px 4px #82c3a6;
  border: 2px solid black;
}

.galeria1{
  display: flex;
  flex-direction: row;
}

.galeria1 img{
  width: 30%;
  height: 30%;
  margin: 1%;
}

.img1{
  filter: blur(10px);
}

.img3{
  filter: sepia(90%);
}

.img2, .img4, .img6{
  filter: grayscale(100%);
}

#pie{
  display: flex;
  flex-direction: row;
}

#pie article{
  width: 25%;
}

footer{
  border-radius: 0px 0px 10px 10px;
  background-color: #c6d5c5;
  text-align: center;
}

@media screen and (max-width: 480px){
  #secundaria{
    background-color: #d5c75f;
    display: flex;
    flex-direction: column;
  }

  .image{
    width: 100%;
  }

  #contenido{
    width: 100%;
    margin: 0 auto;
  }

  .galeria1 {
    display: flex;
    flex-direction: column;
  }

  .galeria1 img{
    width: 100%;
  }

  #pie{
    display: flex;
    flex-direction: column;
  }

  #pie article{
    width: 100%;
  }

}
